@model muachung.Models.Advert
@{
    ViewBag.Title = "Thêm quảng cáo mới ";
    Layout = "~/Views/Shared/_LayoutPortals.cshtml";
}
@section SlideBar{
    <li class="active">@ViewBag.Title</li>
}

@using (Html.BeginForm("Create", "Adverts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
 <!-- right column -->
    <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="box box-warning">
            <div class="box-body">
                <form role="form">
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Title)</label>
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Nhập tiêu đề quảng cáo...", @type = "text" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.AdvertName)</label>
                        @Html.TextBoxFor(model => model.AdvertName, new { @class = "form-control", @id = "user", @placeholder = "Nhập tên quảng cáo...", @type = "text" })
                        @Html.ValidationMessageFor(model => model.AdvertName)
                        <em id="result"></em>
                    </div>
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Images1)</label>
                        @Html.TextBoxFor(model => model.Images1, null, new { type = "file", name = "Images1", id = "Images1" })
                        @Html.ValidationMessageFor(model => model.Images1)
                    </div>
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Images2)</label>
                        @Html.TextBoxFor(model => model.Images2, null, new { type = "file", name = "Images2", id = "Images2" })
                        @Html.ValidationMessageFor(model => model.Images2)
                    </div>
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Images3)</label>
                        @Html.TextBoxFor(model => model.Images3, null, new { type = "file", name = "Images3", id = "Images3" })
                        @Html.ValidationMessageFor(model => model.Images3)
                    </div>
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Cost)</label>
                        @Html.TextBoxFor(model => model.Cost, new { @class = "form-control", @placeholder = "Nhập giá quảng cáo...", @type = "text" })
                        @Html.ValidationMessageFor(model => model.Cost)
                        <em id="result"></em>
                    </div>
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.CostSale)</label>
                        @Html.TextBoxFor(model => model.CostSale, new { @class = "form-control", @placeholder = "Nhập giá khuyến mại quảng cáo...", @type = "text" })
                        @Html.ValidationMessageFor(model => model.CostSale)
                        <em id="result"></em>
                    </div>
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.AdvertContent)</label>
                        @Html.TextAreaFor(model => model.AdvertContent, new { @class = "form-control", @placeholder = "Enter...", @type = "text", @rows = 10 })
                    </div>
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Views)</label>
                        @Html.TextBoxFor(model => model.Views, new { @class = "form-control", @placeholder = "Nhập lượt xem quảng cáo...", @type = "text" })
                        @Html.ValidationMessageFor(model => model.Views)
                        <em id="result"></em>
                    </div>
                    <!-- text input -->
                    <div class="form-group">
                        <label>@Html.LabelFor(model => model.Address)</label>
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter...", @type = "text" })
                    </div>
                    
                    <!-- text input -->
                    @*<div class="form-group">
                        <label>@Html.LabelFor(model => model.Permission)</label>
                        @Html.DropDownListFor(model => model.Permission, new List<SelectListItem> { new SelectListItem { Value = "1", Text = "Biên tập viên" }, { new SelectListItem { Value = "0", Text = "Quản trị viên" } } }, new { @class = "form-control" })
                        <em>(Chọn nhóm quyền cho người dùng (nếu không chọn mặc định sẽ là biên tập viên))</em>
                    </div>*@
                    <input type="submit" class="btn btn-info btn-flat" value="Tạo mới" />
                    <a href="@Url.Action("Index", "Adverts")" class="btn btn-default btn-flat">Quay lại danh sách quảng cáo</a>
                </form>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!--/.col (right) -->
}
<!-- Khai báo sử dụng thư viện JQuery -->
<script src="/Content/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<script>
    //Kiểm tra mật khẩu có trùng khớp ko?
    $('.changepass').change(function () {
        var conpass = $(".changepass").val();
        var pass = $('.password').val();
        var status = $(".checkpass");
        if (conpass == pass) {
            status.html("Mật khẩu trùng khớp");
        }
        if (conpass != pass) {
            status.html("Mật khẩu không trùng khớp");
            return false;
        }
    });

    //Kiểm tra sự tồn tại của tài khoản
    $("#user").change(function () {
        var name = $("#user").val();
        //console.log(name);
        var status = $("#result");
        status.html("Đang kiểm tra tên quảng cáo....");
        $.post("/Adverts/CheckName", { advertname: name },
                function (data) {
                    if (data == true) {
                        status.html('Bạn có thể thêm quảng cáo ' + name + ' này!').addClass("text-green");
                    } else {
                        status.html("quảng cáo " + name + " đã tồn tại hoặc không hợp lệ!").addClass("text-red");
                    }
                });
    });
</script>
